@font-face {
    font-family: 'Manrope Variable';
    src: url('Manrope.ttf') format('truetype-variations');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --purple: #343E91;
}

body {
	display: flex;
	justify-content: center;
    flex-direction: column;
	align-items: center;
    min-height: 100vh;
    font-family: "Manrope Variable";
    margin: 0 1rem;
}

@media (max-width: 1000px) {
    body {
    font-size: 2rem;
    }
}

.button {
    text-decoration: none;
    padding: 1rem 2rem;
    background: var(--purple);
    color: white;
    font-weight: bold;
    border: 2px solid var(--purple);
    /* border-radius: 0.5em; */
    transition: all 250ms ease;
    font-size: 1.5em;
}

.button:hover, .button:focus {
    background: transparent;
    color: var(--purple);
}

a:not(.button) {
    color: var(--purple);
    text-decoration: none;
}

nav:not(open) {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 100vh;
}

nav {
    transition: all 0.25s ease;
}

nav::before {
    content: '';
    width: 200px;
    height: 7rem;
    background: black;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    animation: all 250ms ease;
}

nav:not(.open) *:not(img) {
    opacity: 0;
}

nav.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav img {
    height: 6rem;
    position: fixed;
    bottom: 0;
}

nav ol {
    margin-left: 0;
    padding-left: 0;
}

nav li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
}
nav li::before {
    content: '';
}

nav li a {
    color: white !important;
    font-size: 10vmin;
    font-weight: 800;
    transition: all 0.25s ease;
}

nav li a:hover, nav li a:focus {
    font-size: 12vmin;
    font-weight: 900;
}


li {
    list-style: none;
}
li::before {
    content: "—";
    font-weight: bold;
}

.btn:hover {
    background: transparent;
    color: var(--purple);
}

h1 img {
    width: 80vw;
    max-width: 800px;
    min-width: 200px;
    object-fit: contain;
    max-height: 60vh;
    margin-bottom: 0;
}

h2 {
    color: var(--purple);
    text-transform: uppercase;
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
    margin: 0;
    font-size: 2rem;
}

section {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-areas: "title article";
}

section h2 {
    grid-area: "title";
}
section article {
    grid-area: "article";
}

article h1 {
    margin-top: 0;
}
article {
    width: 100%;
}
article .more::before {
    content: '->';
}

.inline-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;
    gap: 2em;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 2em;
    padding-left: 0;
}


.inline-nav li {
    list-style: none;
    text-align: center;
}

.inline-nav li::before {
    content: '';
}

.inline-nav a {
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
}

.inline-nav a:hover, .inline-nav a:focus {
    background: var(--purple);
    color: white;
}

footer {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
